
/*Basic styles*/
* {
  box-sizing: border-box;
}
body {
    background: #FFFFFF;
    color: #2D3945;
    font-family: "Merriweather", serif;
}

/*Text styles*/
span,h1,legend,button  {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 150%;
}
h1 {
  margin: 8px 0;
}
legend {
  padding-bottom: 20px;
}
p, label {
  color:#AAAFB4;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 136%;
}
label {
  color:#55687A;
}
input::placeholder,
textarea::placeholder {
  color: #ADB2B7;
  text-align: left;
  font-size: 0.75rem;
  font-weight: 400;
  font-style: italic;
}
#full-name::placeholder,
#email::placeholder {
  text-align: right;
}
em {
  display: block;
  margin: auto;
  max-width: 90%;
  text-align: center;
}
/*Container style*/
.logo-container {
  padding: 28px 0;
  background-color: #2D3945;
  text-transform: uppercase;
  color: white;
  text-align: center;
}
.header-container {
  padding: 28px 0;
  margin: auto;
  max-width: 90%;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  row-gap:28px;
  align-items: center;
  width: 100%;
  padding: 28px 0;
  margin: 28px 0;
  background-color: #FAFCFC;
}
.form-container,
.checkbox-container,
.radio-container,
.textarea-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  row-gap:16px;
}
.checkbox-container,
.radio-container,
.textarea-container {
  padding-bottom: 16px;
}
fieldset {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 0;
  width: 90%;
  border: none;
}
/* Deviders */
.hr-bold, .hr-light {
  border: none;
  width: 90%;
  background-color: #2D3945;
}
.hr-bold {
  height: 4px;
  margin: 0 auto 3px auto;
}
.hr-light {
  height: 2px;
  margin: 0 auto;
}
/*Form elements*/
input:not([type="checkbox"]):not([type="radio"]),
textarea,
select,
button {
  width: 100%;
  height: 50px;
  padding: 16px;
  background-color: #EFF0F1;
  border: none;
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
}
input:not([type="checkbox"]):not([type="radio"]):focus,
select:focus,
textarea:focus {
  background-color: #ECF5FF;
  outline: 2px solid #46698B;
  font-size: 0.875rem;
  color:#2D3945;
  transition: all 0.5s ease-in-out;
  transform: scale(1.05);
}
select {
  color:#A2A8AD;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 136%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding-left: 8px;
  background-repeat: no-repeat;
  background-position: calc(100% - 0.25em) 13px;
  background-size: 1.5em auto;
  background-image: url("../icons/icon-caret.svg");
}
select::-ms-expand {
  display: none;
}
.form-container.zip {
  max-width: 50%;
}
.checkbox, .radio {
  display:flex;
  gap:8px;
  align-items: center;
}
textarea {
  height: 100px;
}
button {
  background: #4EBBB5;
  height: 60px;
  color: white;
}
button:focus {
  outline: 2px solid #46698B;
}
.copiright {
  margin-bottom:15vh;
}

/* Styles for media queries*/

@media screen and (min-width: 768px) {
  /*Text styles*/
  h1{
    font-size: 1.5rem;
  }
  /*Form elements*/
  form {
    row-gap:40px;
    padding: 40px 0;
    margin: 40px 0;
  }
  input:not([type="checkbox"]):not([type="radio"]),
  select{
    flex-grow: 1;
  }
  .header-container, fieldset, .hr-bold, .hr-light {
    max-width: 600px;
  }
  .header-container {
    padding: 60px 0 40px 0;
  }
  .form-container {
    flex-direction: row;
    align-items: center;
  }
  label {
    min-width: 150px;
  }
}
